PyPDF2
beautifulsoup4
PyQt5
PySimpleGUI
wolframalpha
pywhatkit
pyttsx3
SpeechRecognition
wikipedia
pyjokes
feedparser
requests
twilio
clint
ecapture
psutil
pyautogui
clipboard
winshell
scapy
gmplot
scapy_http
colorama
termcolor
paramiko
python-nmap
pillow
pytube
customtkinter
seaborn
pandas
numpy
keras
tensorflow
selenium
flask
